<mat-nav-list>
    <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
      <mat-icon color="primary">emoji_objects</mat-icon>
      <span mat-line>Invest now</span>
      <span mat-line>Add to a note</span>
    </a>
  
    <form [formGroup]="alertFormGroup">
      <a  mat-list-item (click)="changeAlertSettings(checkedvalue.checked)">
        <mat-checkbox class="example-margin"
        color="accent"
        formControlName="auto_alerts" #checkedvalue
       ></mat-checkbox>
        <span mat-line>Alert, me when price is up</span>
        <span mat-line>Embed in a document</span>
      </a>
    </form>
  
   </mat-nav-list>