<mat-nav-list>
    <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
      <mat-icon color="primary">emoji_objects</mat-icon>
      <span mat-line>Invest now</span>
      <span mat-line>Add to a note</span>
    </a>
  
    <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
      <mat-icon color="primary">trending_up</mat-icon>
      <span mat-line>Alert, me when price is up</span>
      <span mat-line>Embed in a document</span>
    </a>
  
   </mat-nav-list>