.wrapper-container{
    background-color: #f7f7f7;
    height: 100%;
}

.mat-table,.mat-header-row{
    width: 100%; 
}

.example-container{
    border-radius: 2.375rem !important;
    font-family: 'Poppins', sans-serif !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    background-color: #fff !important;
}