  <!-- [opened]="(isHandset$ | async) === false"  -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" 
     >
    <mat-toolbar><span class="text-600"><strong>{{title}}</strong></span></mat-toolbar>
    <mat-nav-list>
      <!-- <mat-divider class="divider-mb"></mat-divider> -->
      <mat-list-item
      [ngClass]="{isActive: clickedItem === link.icon}"
      *ngFor="let link of links" (click)="navigate(drawer, link.url, link.icon)">
        <mat-icon  matListIcon>{{link.icon}}</mat-icon>
       
        <a matLine class="lists" 
        >{{ link.name }}</a>
        
     </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background: #f7f7f7 !important;" class="mat-elevation-z0">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/" class="cursor-pointer outline-none" *ngIf="(isHandset$ | async)">{{title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" 
      routerLink="/notifications"
      aria-label="Example icon-button with heart icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
