<div class="container">
    <mat-card>
        <h1 class="text-center">Forgot your password?</h1>
        <div class="example-container">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>BTC invested</mat-label>
              <input matInput type="number" class="example-right-align">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          
          
          </div>

<p class="text-center">
    <button mat-raised-button class="w-100 rounded-50" color="primary">
        RESET YOUR PASSWORD
    </button>
</p>
          <br/>
         <div>
             <span>Don't have an account yet?<a [routerLink]="['/auth','signup']">Sign Up</a></span>
             <span>Already have an account?<a [routerLink]="['/auth','signin']">Sign In</a></span>
         </div>
    </mat-card>
</div>