<div class="wrapper">
    <div class="container">
    
        <mat-card class="mt-15">
           
            <h1 class="text-center">Forgot your password?</h1>
            <br/>
            <form #f="ngForm" (ngSubmit)="resetCode ? verifyCode(f): forgotPassword(f)">
            <div class="example-container">
                <p *ngIf="!resetCode">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Email</mat-label>
                      <input matInput type="email" name="email" class="example-right-align" 
                      email ngModel #emailValid="ngModel" required>
                      <mat-error *ngIf="emailValid.invalid && emailValid.touched">Please enter a correct email e.g Johndoe@example.com</mat-error>
                    </mat-form-field>
                  </p>

                  <p *ngIf="resetCode">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Enter code to reset password</mat-label>
                      <input matInput ="example-right-align" 
                       ngModel #code="ngModel" required>
                      <mat-error *ngIf="code.invalid && code.touched">Code is required</mat-error>
                    </mat-form-field>
                  </p>
      
              
              
              </div>
    <br/>
    <p class="text-center">
        <button mat-raised-button 
        [class.spinner]="isLoading" [disabled]="isLoading || f.form.invalid"
        type="submit" class="w-100 rounded-50 block-btn" color="primary">
            RESET YOUR PASSWORD
        </button>
    </p>
            </form>
           
              <br/>
             <div>
                 <p class="text-center">
                    <span>Don't have an account yet?<a [routerLink]="['/auth','signup']">&nbsp;Sign Up</a></span>
                 </p>
                 <p class="text-center">
                    <span>Already have an account?<a [routerLink]="['/auth','signin']">&nbsp;Sign In</a></span>
                 </p>
             </div>
        </mat-card>
    </div>
</div>
