<div class="wrapper">
  <div class="container">
    <br/>
      <mat-card style="z-index: 50 !important; border-radius: 1.375rem !important;
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;" class="card">
          <mat-card-title>
            <h1 class="text-center text-500">Create your account</h1>
          </mat-card-title>
          <br/>
          <form #f="ngForm" (ngSubmit)="signUp(f)">
            <div class="example-container">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>First name</mat-label>
                <input matInput name="firstName" class="example-right-align"required 
                 ngModel #firstNameValid="ngModel">
                <mat-error *ngIf="firstNameValid.invalid && firstNameValid.touched">First name required*</mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Last name</mat-label>
                <input matInput name="lastName" class="example-right-align" 
                ngModel #lastNameValid="ngModel" required>
                <mat-error *ngIf="lastNameValid.invalid && lastNameValid.touched">Last name required*</mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" name="email" class="example-right-align" 
                  email ngModel #emailValid="ngModel" required>
                  <mat-error *ngIf="emailValid.invalid && emailValid.touched">Please enter a correct email e.g Johndoe@example.com</mat-error>
                </mat-form-field>
  
              <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput  class="example-right-align" name="password" 
                  ngModel #passwordValid="ngModel" min="6" required [type]="hide ? 'password': 'text'">
                  <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                    <mat-error *ngIf="passwordValid.invalid && passwordValid.touched">Please enter a password and must be at least 6 characters</mat-error>
                </mat-form-field>
            </div>
            <br/>
  <p>
    By registering, I certify that I am 18 years of age or older, and agree to the User Agreement and Privacy Policy.
  </p>
<br/>
  <p class="text-center">
      <button type="submit" 
      [class.spinner]="isLoading" [disabled]="isLoading || f.form.invalid"
      mat-raised-button 
      class="w-100 rounded-50 mt-3 block-btn" 
      color="primary"><span [hidden]="isLoading">CREATE ACCOUNT</span></button>
  </p>
  
          </form>
            <br/>
           <div>
<p class="text-center">
  <span>Already have a TinyCrypto account?<a [routerLink]="['/auth','signin']">&nbsp;Sign in</a></span>
</p>
         
           </div>
      </mat-card>
  </div>
  
</div>