/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif; 

}
// colors
$primaryColor:#34D399;

// containers
.container{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 20px;
}
.flex{
    display: flex;
}

.w-80{
    width: 80%;
}

.mx-auto{
    margin: 10px auto;
}

.w-100{
    width: 100%;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.mt-15{
    margin-top: 15% !important;
}
.mt-3{
    margin-top: 3px !important;
}

// typography
h1,h2,h3,h4,h5,h6,p,a,span,div,li,small,div,button,i, .mat-card-title{
    font-family: 'Poppins', sans-serif !important; 
}

.text-300{
    font-weight: 300 !important;
}

.text-400{
    font-weight: 400 !important;
}
.text-500{
    font-weight: 500 !important;
}

.uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center !important;
}

.text-white{
    color: #fff !important;
}

//buttons
.rounded-50{
    border-radius: 25px !important;
}

// lists
.lists{
    margin-bottom: .35em !important;
}
.divider-mb{
    margin-bottom: 1em !important;
}

.wrapper{
    background-image: radial-gradient(#444CF7 1px, #E5E5F7 1px);
    background-size: 20px 20px;
    height: 100%;
    }

//overrides
.mat-raised-button.mat-accent{
    background-color: $primaryColor !important;
    color:#fff !important;
}
.mat-toolbar.mat-primary {
    background: $primaryColor;
    color: #fff;
}

.mat-icon.mat-primary {
    color: $primaryColor !important;
}

.block-btn{
    width: 90% !important;
    padding-top: 10px !important;
    padding-bottom: 2px !important;
    padding-right: 11px !important;
    padding-bottom: 11px !important;
    line-height: 1.5rem !important;
    border-width: 1px !important;
    font-weight: 600 !important;
    color: rgba(255,255,255,var(--tw-text-opacity)) !important;
    margin-top: -10px !important;
    height: 45px !important;

}


// spinners
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #1F2937;
    animation: spinner .8s linear infinite;
  }
