<div class="wrapper">
  <div class="container">
    <mat-card class="mt-15 card">
    <mat-card-title>
          <h1 class="text-center text-500">Sign in to TinyCrypto</h1>
        </mat-card-title>
       <form #f="ngForm" (ngSubmit)="
       signIn(f)">
        <mat-card-content>
          <div class="example-container">
           
          
            <p>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" class="example-right-align" 
                email ngModel #emailValid="ngModel" required>
                <mat-error *ngIf="emailValid.invalid && emailValid.touched">Please enter a correct email e.g Johndoe@example.com</mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password': 'text'" name="password" class="example-right-align" 
                 ngModel #passwordValid="ngModel" required min="6">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                <mat-error *ngIf="passwordValid.invalid && passwordValid.touched">Please enter a password and must be at least 6 characters</mat-error>
              </mat-form-field>
            </p>
          </div>
        </mat-card-content>
        
        <br/>
<p class="text-center">
    <button mat-raised-button 
    [class.spinner]="isLoading" [disabled]="isLoading || f.form.invalid"

    type="submit" class="w-100 rounded-50 block-btn" color="primary">
    <span [hidden]="isLoading">SIGN IN</span></button>
</p>
       </form>
          <br/>
         <div>
             <span><a [routerLink]="['/auth','forgot-password']" >Forgot Password</a></span>
             <a [routerLink]="['/auth','signup']" style="padding-left:12%;">Don't have an account</a>
         </div>
    </mat-card>
</div>
</div>
