<div class="container">
    <div class="">
        <mat-card class="card-metrics">
            <mat-card-title>YOUR PORTFOLIO</mat-card-title>
            <h1>$1000</h1>
            <br/>
            <mat-divider></mat-divider>
            <mat-card-title>BITCOIN</mat-card-title>
            <h2>0.3BTC</h2>

            <p>
                <button 
                (click)="openBottomSheet()"  
                mat-raised-button color="primary"><strong>START INVESTING</strong></button>
            </p>
            
        </mat-card>
    </div>
</div>
