<div class="container wrapper-container">
  <mat-card class="card-metrics mat-elevation-z0">
    <header class="card-header">TOTAL BALANCE</header>
    <div class="metric-count">0</div>
  </mat-card>
  <mat-card class="card-metrics mat-elevation-z0">
    <header class="card-header">BITCOIN</header>
    <div class="metric-count">0</div>
  </mat-card>
 
<br/>
  <mat-card style=" border-radius: 1.25rem;">
    <a class="flex-card" (click)="openDialog()">
        <div class="action-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
        </div>
        <div class="action-text">
           <span class="span1">Buy Bitcoin</span>
           <span class="span-2">Start your portfolio</span>
        </div>
    </a>
    <mat-divider></mat-divider>
    <a class="flex-card">
        <div class="action-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="3 11 22 2 13 21 11 13 3 11"></polygon></svg>
        </div>
        <div class="action-text">
           <span class="span1">Auto Invest</span>
           <span class="span-2">Enable auto investments</span>
        </div>
    </a>
    <mat-divider></mat-divider>
    <a class="flex-card">
      <div class="action-icon">
     <img src="assets/currency_swap.svg" width="24" height="24"/>
        </div>
      <div class="action-text">
         <span class="span1">Change Currency</span>
         <span class="span-2">Switch to other currencies</span>
      </div>
  </a>
  </mat-card>
</div>
