.card-metrics{
    height: 150px;
    margin-bottom: 1.5em;
}

.block-btn{
    width: 90%;
    padding-top:2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.caps-petite{
    font-size: 12px !important;
    text-transform: uppercase;
    padding-right: .8px;
    vertical-align: top;
    font-weight: 500 !important;

}
.btc-icon{
    top: 9px;
    left: 8px;
    position: absolute;
}