<div class="container">
    <ng-container *ngFor="let item of features">
        <mat-card class="card-metrics" >
            <mat-card-title>{{item.name}}</mat-card-title>
            <h1 class="text-400">{{item.currency}}0</h1>
            <br/>
        </mat-card>
        
    </ng-container>
    <div class="container">
        <p class="text-center">
            <button class="block-btn rounded-50 uppercase" (click)="openBottomSheet()"
            mat-raised-button color="accent">Start a portfolio</button>
        </p>
    </div>
</div>
